@model RK_Hotels.Models.Booking_Detail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking Detail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          Customer Detail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_Detail.Customer_Name)
        </dd>
        <dt class = "col-sm-2">
          Hotel Detail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel_Detail.Branch_Name)
        </dd>
        <dt class = "col-sm-2">
           Room Detail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_Detail.Room_Type)
        </dd>
        <dt class = "col-sm-2">
           Service Detail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service_Detail.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
